#quranChapters {
  width: 200px;
  max-height: 150px;
  overflow-y: auto;
  border-bottom-left-radius: 10%;
  border-bottom-right-radius: 10%;
}

body {
  padding: 1rem;
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

#toggle-chapters {
  width: 200px;
  border-top-left-radius: 10%;
  border-top-right-radius: 10%;
}

.quranimg {
  width: 300px;
  height: 300px;
  border-radius: 50%;
  box-shadow: 0 0 1000px #ffffff;
  margin-top: 5%;
}

.hovered {
  font-size: 1.17em;
  font-weight: bold;
}

body {
  background-color: rgb(0, 0, 0);
}

p {
  color: rgb(255, 255, 255);
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  margin-left: 15%;
  margin-right: 15%;
}

h1 {
  font-family: Arial, Helvetica, sans-serif;
  color: white;
  padding-top: 100px;
}
